---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  truthy:
    allowed-values: ['true', 'false']
  comments:
    min-spaces-from-content: 1
  document-start:
    present: true
  indentation:
    spaces: 2
  key-duplicates: enable
  new-lines: disable
  new-line-at-end-of-file: enable
  trailing-spaces: enable
